* {
    padding: 0;
    margin: 0;
}

.container {

    display: flex;
    justify-content: center;

    height: 100vh;
    width: 100vw;
    margin: auto;
    border: 4px ridge red;
    box-sizing: border-box;
    overflow: hidden;
    background: linear-gradient(to left top, lightyellow, transparent);
    background-repeat: no-repeat;
}
.form-a{
    display:grid;
}
.upload {
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 4px 0px;
    border: 4px solid purple;
    width: 40vw;
    min-height: 3rem;
    height: max-content;
    background: lightgrey;
}

p {
    font: bolder;
    font-family: cursive;
    margin: auto;
}

.viewWrap {
    display: inherit;
    position: absolute;
    bottom: 2vmin;
    left: 3vmin;
    /*height: min-content;
    width: min-content;*/
    min-width: 15vmin;
    min-height: 12vmin;
    border: 4px solid brown;
    overflow: hidden;

    img {
        position: static;
        
        background-position: center;
        background-size: cover;
        max-height: 52vh;
        max-width: 48vw;
        min-height: 52vh;
        min-width: 48vw;
        /*object-fit: fill;*/

    }
}

.viewWrap:active , .viewWrap:hover {
    cursor: zoom-in;
    display:inherit;
}
.viewWrap:active .myimage , .viewWrap:hover .myimage{
    opacity: 1;
}
.maglass{
    /*width: 15vmin;
    height: 15vmin;
    /*background: url('https://bit.ly/2mgDw0y') no-repeat #FFF; 
    background:transparent; 
    background-image: url('https://picsum.photos/536/354'); 
    z-index: 1;
    box-shadow: 0 5px 10px -2px rgba(0,0,0,0.3);
    pointer-events: none;
    opacity: 1;
    border: 4px solid whitesmoke;
    display: inherit;
    transition: opacity .2s;
    background-repeat: no-repeat;*/
    z-index: 1;
    position: absolute;
    border: 3px solid #000;
    border-radius: 50%;
    cursor:crosshair;
    width: 100px;
    height: 100px;
    background-repeat: no-repeat;
    background-size: 1800px 1200px;
    background-position: -3px -3px;
    left: 0px;
    top: 0px;
}
.magglassneccessarycss{
    z-index: 1;
    display: table-column;
    border: 3px solid rgb(255, 255, 255);
    border-radius: 50%;
    width: 100px;
    height: 100px;
    position: absolute;
    background-image: url("https://picsum.photos/536/354");
    background-repeat: no-repeat;
    background-size: 1800px 1200px;
    background-position: -2063.83px -350.125px;
    left: 515.208px;
    top: -5.46875px;
}
.sbt-1{
    border-radius: 10%;
    margin: 0 1vw 0 0;
    box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
    touch-action: manipulation;
    letter-spacing: 1px;


}
.selectr{
    padding: 1px;
    border: 2px solid #e6e6e6;
    /* left: 2vh; */
}
.chan{
    background: linear-gradient(345deg, #fddfdf, #ffffff);
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 4px 0px;
    border: 4px solid purple;
    width: 25vw;
    min-height: 3rem;
    height:fit-content;
    background: lightgrey;

    position: absolute;
    left: 2vw;
    border: 4px solid purple;
    display: flex;
    flex-wrap: nowrap;
    align-content: space-between;
    align-items: flex-start;
    top:16vh;
}

/* CSS */
.button-54 {
font-family: "Open Sans", sans-serif;
font-size: 16px;
letter-spacing: 2px;
text-decoration: none;
text-transform: uppercase;
color: #000;
cursor: pointer;
border: 3px solid;
padding: 0.25em 0.5em;
box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
position: relative;
user-select: none;
-webkit-user-select: none;
touch-action: manipulation;
}

.button-54:active {
box-shadow: 0px 0px 0px 0px;
top: 5px;
left: 5px;
}

@media (min-width: 768px) {
.button-54 {
padding: 0.25em 0.75em;
}
}


:root {
    --page-background-color: #2F3C4F;
    --gradient-color-1: #F57170;
    --gradient-color-2: #10DDC2;
  }
@keyframes animationgradienttitle {
    0% {
      background-position: 0 1600px;
    }
    100% {
      background-position: 1600px 0;
    }
}
.welcome{
    position: absolute;
    top: 25vh;
    right: 20vw;
    /*min-width: 45vw;
    min-height: 10vh;
    min-width: 30vmin;
    min-height: 10vmin;
    /*border: 2px solid rgb(93, 93, 93);*/
    /*max-width: 45vw;
    max-height: 25vh;
   /* max-width: 10vmin;
    max-height: 5vmin;*/
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.button-54{
    font-size: max(1vmax, 10px);
}
.welText {
    font-family: 'Scope One', serif;
    font-size: max(5vmax, 20px);

    color: #fc3735; /* Fallback for older browsers */
    background-image: -webkit-linear-gradient(left, var(--gradient-color-1), var(--gradient-color-2), var(--gradient-color-1));
    background-size: 1600px 200px;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    animation-duration: 3s;
    animation-name: animationgradienttitle;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
  }
  /* svg{
    position: absolute;
    /* float: inline-end; */
    /* margin: 0 0 0 23vw;
  }
  svg:hover{

  } */
